<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- application.properties only ??? -->
    <springProperty scope="context" name="LOGS_HOME" source="logging.path" defaultValue="/var/log/spring-learn" />
    <!--<include resource="logback-base.xml"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_HOME}/spring-learn.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover weekly -->
            <fileNamePattern>${LOGS_HOME}/spring-learn.%d{yyyy-ww}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="com.magicworldz.springlearn.aop" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-ROOT"/>
    </logger>

    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR" />

    <springProfile name="dev">
        <root level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE-ROOT"/>
        </root>
    </springProfile>
</configuration>